<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de prácticas masterD">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Adriana">
    <meta name="keywords" content="Demo,Prueba,Práctica4">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Prácticas">
    <title>TRABAJO FINAL: HTML/CSS</title>
    <link rel="stylesheet" href="/CSS/estilos.css">
    <link rel="icon" href="/FAVICON.jpg">
    <!--Iconos redes sociales-->
    <script src="https://kit.fontawesome.com/379c8e0fd1.js" crossorigin="anonymous"></script>
</head>

<body>
   <header>
     <div><img src="/assets/imagen/Logo.jpg" alt="Logo" width="500" height="69" class="Logo"></div>
     <nav class="div_menu">
        <span class="boton">
            <a href="/index.html" class="div_menu">Índice</a>
        </span>
        <span class="boton">
            <a href="/views/productos.html" class="div_menu">Galería</a>
        </span>
        <span class="boton">
            <a href="/views/presupuesto.html" class="div_menu">Presupuestos</a>
        </span>
        <span class="botonin">
            <a href="/views/contacto.html" class="div_menu">Contactos</a>
        </span>
     </nav>
   </header>

   <section>
      <header>
        <h1>Conecta con nuestro equipo</h1>
      </header>
      <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.39472101413!2d-74.27262511091783!3d4.648620643179169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2sBogot%C3%A1%2C%20Colombia!5e0!3m2!1ses!2ses!4v1690212370639!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      <article>
        <header>
          <h2>Te daremos todas las herramientas para sacar a delante todos los proyectos que tengas en mente</h2>
        </header>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem ex dolorum laborum veniam quae numquam, 
        ratione deserunt consequuntur eveniet libero facilis deleniti mollitia cum ducimus id, vel explicabo ut 
        perferendis nemo. Eos nisi aliquam itaque fugiat nobis facilis quod aperiam harum accusantium ab, 
        perspiciatis eligendi. In consequuntur veniam quia eligendi totam aspernatur unde consequatur, ipsa iure 
        iusto odio distinctio culpa, harum nisi cum quibusdam, rem cumque ipsam amet nesciunt doloremque repellat? 
        Quidem non maxime molestiae adipisci delectus? Quibusdam vel, assumenda esse natus aperiam non eligendi 
        accusantium libero iusto harum? Doloribus iste sequi a quod enim assumenda nesciunt dicta quaerat 
        consectetur?</p><br>
        <div><img src="/assets/imagen/Logo.jpg" alt="Logo" width="100"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, fugit?</p><br>
        </article>
    </section>

<!--Pie de página-->
<footer class="pie_pagina">
    <div class="grupo_1">
      <div class="box">
         <figure>
             <a href="#">
                 <img src="/assets/imagen/Logo.jpg" alt="Logo">
             </a>
         </figure>
      </div>
      <div class="box">
         <h2>SOBRE NOSOTROS</h2>
         <p>Cobertura a nivel nacional. Bogotá, CO</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, maxime.</p>
      </div>
      <div class="box">
         <h2>SIGUENOS</h2>
         <div class="red_social">
             <a href="#" class="fa fa-facebook"></a>
             <a href="#" class="fa fa-instagram"></a>
             <a href="#" class="fa fa-twitter"></a>
             <a href="#" class="fa fa-youtube"></a>
         </div>
      </div>
    </div>
    <div class="grupo_2">
     <small>&copy; 2023 <b>SLee Dw</b> - Todos Los Derechos Reservados</small>
    </div>
</footer>

</body>

</html>