<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de prácticas masterD">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Adriana">
    <meta name="keywords" content="Demo,Prueba,Práctica4">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Prácticas">
    <title>TRABAJO FINAL: HTML/CSS</title>
    <link rel="stylesheet" href="/CSS/estilos.css">
    <link rel="icon" href="/FAVICON.jpg">
    <!--Iconos redes sociales-->
    <script src="https://kit.fontawesome.com/379c8e0fd1.js" crossorigin="anonymous"></script>
</head>

<body>
   <header>
     <div><img src="/assets/imagen/Logo.jpg" alt="Logo" width="500" height="69" class="Logo"></div>
     <nav class="div_menu">
        <span class="boton">
            <a href="/index.html" class="div_menu">Índice</a>
        </span>
        <span class="botonin">
            <a href="/views/productos.html" class="div_menu">Galería</a>
        </span>
        <span class="boton">
            <a href="/views/presupuesto.html" class="div_menu">Presupuestos</a>
        </span>
        <span class="boton">
            <a href="/views/contacto.html" class="div_menu">Contactos</a>
        </span>
     </nav>
  </header>

    <section>
        <!--Div que tiene todo el contenido de la galería-->
    <div>
        <article>
            <header>
               <h1>Nuestros Proyectos</h1>
            </header>
            <p>Hacemos realidad tus sueños brindandote lo mejor de nosotros.</p>
            <h2>Descubre lo que nos hace confiables y expertos.</h2>
            <div>
                <img src="/assets/imagen/GaleríadeProyectosMadesign1.jpg"   alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign2.webp"  alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign3.jpg"   alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign4.jpg"   alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign5.jpeg"  alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign6.jpg"   alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign7.jpg"   alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign8.jpg"   alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign9.jpg"   alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign10.jpeg" alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign11.jpg"  alt="imagen" width="300" class="galeria_img">
                <img src="/assets/imagen/GaleríadeProyectosMadesign12.jpg"  alt="imagen" width="300" class="galeria_img">
            </div>
      </article>
    </div>
</section>       

<!--Pie de página-->
<footer class="pie_pagina">
    <div class="grupo_1">
      <div class="box">
         <figure>
             <a href="#">
                 <img src="/assets/imagen/Logo.jpg" alt="Logo">
             </a>
         </figure>
      </div>
      <div class="box">
         <h2>SOBRE NOSOTROS</h2>
         <p>Cobertura a nivel nacional. Bogotá, CO</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, maxime.</p>
      </div>
      <div class="box">
         <h2>SIGUENOS</h2>
         <div class="red_social">
             <a href="#" class="fa fa-facebook"></a>
             <a href="#" class="fa fa-instagram"></a>
             <a href="#" class="fa fa-twitter"></a>
             <a href="#" class="fa fa-youtube"></a>
         </div>
      </div>
    </div>
    <div class="grupo_2">
     <small>&copy; 2023 <b>SLee Dw</b> - Todos Los Derechos Reservados</small>
    </div>
 </footer>

</body>

</html>